[submodule "Carthage/Checkouts/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
	ignore = dirty
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
	ignore = dirty
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = https://github.com/Quick/Quick.git
	ignore = dirty
